/* just for testing purposes */
* {
  user-select: none;
}

/****** General Styles *********/

body{
  font-family: Roboto;
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

/****** Header Styles *********/
h1 {
  background: #2980b9;
  color: white;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
}

.fa-plus {
  float: right;
}

/****** Container and List Styles *********/
#container {
  background: #f7f7f7;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
  margin: 100px auto;
  width: 360px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #666;
  background: white;
  height: 40px;
  line-height: 40px;
}

span {
  background: #e74c3c;
  color: white;
  /* set to inline block so width and height are used */
  display: inline-block;
  height: 40px;
  margin-right: 20px;
  opacity: 0;
  text-align: center;
  transition: 0.2s linear;
  width: 0;
}

li:hover span {
  width: 40px;
  opacity: 1.0;
}

li:nth-child(2n) {
  background: #f7f7f7
}

.completed {
  color: gray;
  text-decoration: line-through;
}

/****** Input Styles *********/

input[type=text] {
  background: #f7f7f7;
  border: none;
  box-sizing: border-box;
  color: #2980b9;
  font-size: 18px;
  padding: 13px 13px 13px 20px;
  width: 100%;
}

input:focus {
  background: white;
  /* border: 3px solid #2980b9; */
  /* Using box-shadow as a border to not move other elements when in focus */
  box-shadow: inset 0 0 0 3px #2980b9;
}