/* just for testing purposes */
* {
  user-select: none;
}

/****** General Styles *********/



/****** Container Styles *********/
#container {
  border: 2px solid gray;
  margin: 0 auto;
  width: 360px;
}

.completed {
  color: gray;
  text-decoration: line-through;
}